{{ partial "head.html" }}
{{ partial "header-single.html" . }}
<main class="content">
  <div class="project">
    <div class="header-img" style="background-image:url({{ .Params.image }});"></div>
    <div class="header-img-clear" style="background-image:url({{ .Params.image }});"></div>
    <div class="title">{{ .Title }}</div>
    <div class="info">
      <div class="links">
        {{ partial "links.html" . }}
      </div>
      <!-- ## Current Version  -->
      {{ if .Params.version }}
        <span>Version</span> {{ .Params.version }}<br/>
      {{ end }}
      
      <!-- ## Release Date  -->
      {{ if .Params.rdate }}
        <span>Latest Release</span> {{ .Params.rdate }}
      {{ end }}
        
      <br/><br/>
      <!-- ## Maintainer  -->
      {{ if .Params.maintainer }}
        <span>Maintainer</span> {{ .Params.maintainer }} <a href='mailto:{{ .Params.email }}'> {{ .Params.email }} </a><br/>
	    {{ end }}
      
      <!-- ## Manager  -->
      {{ if .Params.manager }}
        <span>Manager</span> {{ .Params.manager }} <a href='mailto:{{ .Params.manageremail }}'> {{ .Params.manageremail }} </a><br/>
      {{ end }}
      <br/>
      {{ .Content }}
    </div>
  </div>
</main>

{{ partial "footer.html" }}
