<!-- Only display the following links based off supplied Params -->
<!-- ## Windows Download Link -->
{{ if .Params.windl }}
  <a href="{{ .Params.windl }}">
    <span class="ion-social-windows"></span>
  </a>
{{ end }}

<!-- ## Linux Download Link  -->
{{ if .Params.lxdl }}
  <a href="{{ .Params.lxdl }}">
    <span class="ion-social-tux"></span>
  </a>
{{ end }}

<!-- ## OS X Download Link  -->
{{ if .Params.osxdl }}
  <a href="{{ .Params.osxdl }}">
    <span class="ion-social-apple"></span>
  </a>
{{ end }}

<!-- ## Source Link  -->
{{ if .Params.source }}
  <a href="{{ .Params.source }}">
    <span class="ion-code-working"></span>
  </a>
{{ end }}

<!-- ## Web Link  -->
{{ if .Params.weblink }}
  <a href="{{ .Params.weblink }}">
    <span class="ion-link"></span>
  </a>
{{ end }}